*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    width: 40%;
    margin: 2%;
    border-radius: 2%;
    padding: 2%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5)
}

#addstudent{
    width: 100%;
    background-color: #3a244a;
    color: white;
}